/* colors */

$javascript-yellow: #f0db4f;
$javascript-black: #323330;
$typescript-blue: #3178c6;
$react-blue: #61dafb;
$sass-pink: #cd6799;
$grey: #828282;
$brown: #a52a2a;
$light-brown: #e9b96e;
$white: #fff;

/* font weights */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* screen sizes */

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;
$tv: 1440px;
